@mixin grid(
  $columns: minmax(1rem, 1fr) repeat(12, minmax(0.25rem, 130px)) minmax(1rem, 1fr),
  $rows: 1fr,
  $max-width: none
) {
  display: grid;
  grid-template-columns: $columns;
  grid-template-rows: $rows;
  max-width: $max-width;
}

@mixin grid-column($size) {
  @if small == $size {
    grid-column-end: 11;
    grid-column-start: 5;
  }

  @if medium == $size {
    grid-column-end: 12;
    grid-column-start: 4;
  }

  @if large == $size {
    grid-column-end: 13;
    grid-column-start: 3;
  }

  @if x-large == $size {
    grid-column-end: 14;
    grid-column-start: 2;
  }

  @if full == $size {
    grid-column-end: 15;
    grid-column-start: 1;
  }
}

// Pseudo fallback for the Internet Explorer
@mixin grid-cell-position(
  $columnStart: 1,
  $columnEnd: 2,
  $rowStart: 1,
  $rowEnd: 2
) {
  grid-column-end: $columnEnd;
  grid-column-start: $columnStart;
  grid-row-end: $rowEnd;
  grid-row-start: $rowStart;
}
