@mixin media($min_res) {
  $breakpoint: map-get($breakpoints, $min_res);

  @media only screen and (min-width: $breakpoint) {
    @content;
  }
}

@mixin media-between($min_res, $max_res) {
  $breakpoint_min: map-get($breakpoints, $min_res);
  $breakpoint_max: map-get($breakpoints, $max_res);

  @media only screen and (min-width: $breakpoint_min) and (max-width: ($breakpoint_max - 1)) {
    @content;
  }
}
