// Responsive widths.

$zero_width: 0;
$mobile_width: 600px;
$tablet_width: 768px;
$desktop_width: 1168px;
$wide_width: 1379px;

$breakpoints: () !default;

$breakpoints: map-merge(
  (
    'zero': $zero_width,
    'mobile': $mobile_width,
    'tablet': $tablet_width,
    'desktop': $desktop_width,
    'wide': $wide_width,
  ), $breakpoints
);

// Color system

$color-brand-grey: rgb(51, 62, 72) !default;
$color-brand-grey-100: $color-brand-grey !default;
$color-brand-grey-80: rgb(92, 101, 109) !default;
$color-brand-grey-60: rgb(132, 139, 145) !default;
$color-brand-grey-33: rgb(188, 191, 194) !default;
$color-brand-grey-10: rgb(235, 236, 237) !default;

$color-brand-petrol: rgb(18, 99, 119) !default;
$color-brand-blue: rgb(37, 117, 252) !default;
$color-brand-purple: rgb(106, 17, 203) !default;
$color-brand-lightblue: rgb(0, 236, 188) !default;
$color-brand-yellow: rgb(255, 239, 58) !default;
$color-brand-neon: rgb(216, 255, 0) !default;
$color-brand-mistblue: rgb(109, 148, 255) !default;
$color-brand-mint: rgb(130, 255, 136) !default;
$color-brand-orange: rgb(255, 151, 0) !default;
$color-brand-green: rgb(0, 189, 107) !default;
$color-brand-red: rgb(255, 8, 68) !default;
$color-brand-violette: rgb(138, 51, 126) !default;
$color-brand-violet: $color-brand-violette !default;
$color-brand-frog: rgb(0, 255, 0) !default;

$color-black: rgb(0, 0, 0) !default;
$color-white: rgb(255, 255, 255) !default;

$brand-colors: () !default;

$brand-colors: map-merge(
  (
    'blue': $color-brand-blue,
    'frog': $color-brand-frog,
    'green': $color-brand-green,
    'grey': $color-brand-grey,
    'lightblue': $color-brand-lightblue,
    'mint': $color-brand-mint,
    'mistblue': $color-brand-mistblue,
    'neon': $color-brand-neon,
    'orange': $color-brand-orange,
    'petrol': $color-brand-petrol,
    'purple': $color-brand-purple,
    'red': $color-brand-red,
    'violet': $color-brand-violet,
    'yellow': $color-brand-yellow,
    'white': $color-white,
    ), $brand-colors
);

$brand-colors--single-objects: () !default;

$brand-colors--single-objects: map-merge(
  (

    'blue': (
      'primary': $color-brand-blue,
      'accent-colorful': $color-white,
      'accent-neutral': $color-white,
    ),
    'frog': (
      'primary': $color-brand-frog,
      'accent-colorful': $color-brand-grey,
      'accent-neutral': $color-brand-grey,
    ),
    'green': (
      'primary': $color-brand-green,
      'accent-colorful': $color-white,
      'accent-neutral': $color-white,
    ),
    'grey': (
      'primary': $color-brand-grey,
      'accent-colorful': $color-white,
      'accent-neutral': $color-white,
    ),
    'lightblue': (
      'primary': $color-brand-lightblue,
      'accent-colorful': $color-white,
      'accent-neutral': $color-white,
    ),
    'mint': (
      'primary': $color-brand-mint,
      'accent-colorful': $color-brand-grey,
      'accent-neutral': $color-brand-grey,
    ),
    'mistblue': (
      'primary': $color-brand-mistblue,
      'accent-colorful': $color-white,
      'accent-neutral': $color-white,
    ),
    'neon': (
      'primary': $color-brand-neon,
      'accent-colorful': $color-brand-grey,
      'accent-neutral': $color-brand-grey,
    ),
    'orange': (
      'primary': $color-brand-orange,
      'accent-colorful': $color-white,
      'accent-neutral': $color-white,
    ),
    'petrol': (
      'primary': $color-brand-petrol,
      'accent-colorful': $color-white,
      'accent-neutral': $color-white,
    ),
    'purple': (
      'primary': $color-brand-purple,
      'accent-colorful': $color-white,
      'accent-neutral': $color-white,
    ),
    'red': (
      'primary': $color-brand-red,
      'accent-colorful': $color-white,
      'accent-neutral': $color-white,
    ),
    'violet': (
      'primary': $color-brand-violet,
      'accent-colorful': $color-white,
      'accent-neutral': $color-white,
    ),
    'white': (
      'primary': $color-white,
      'accent-colorful': $color-brand-grey,
      'accent-neutral': $color-brand-grey,
    ),
    'yellow': (
      'primary': $color-brand-yellow,
      'accent-colorful': $color-brand-grey,
      'accent-neutral': $color-brand-grey,
    ),
  ), $brand-colors--single-objects
);

$brand-colors--gradient-objects: () !default;

$brand-colors--gradient-objects: map-merge(
  (
    'aqua': (
      'primary': $color-brand-blue,
      'secondary': $color-brand-lightblue,
      'accent-colorful': $color-white,
      'accent-neutral': $color-white,
    ),
    'candy': (
      'primary': $color-brand-purple,
      'secondary': $color-brand-red,
      'accent-colorful': $color-white,
      'accent-neutral': $color-white,
    ),
    'deep-blue': (
      'primary': $color-brand-purple,
      'secondary': $color-brand-blue,
      'accent-colorful': $color-white,
      'accent-neutral': $color-white,
    ),
    'happy': (
      'primary': $color-brand-red,
      'secondary': $color-brand-orange,
      'accent-colorful': $color-white,
      'accent-neutral': $color-white,
    ),
    'poison': (
      'primary': $color-brand-yellow,
      'secondary': $color-brand-green,
      'accent-colorful': $color-white,
      'accent-neutral': $color-white,
    ),
    'witch': (
      'primary': $color-brand-mistblue,
      'secondary': $color-brand-violet,
      'accent-colorful': $color-white,
      'accent-neutral': $color-white,
    )
  ), $brand-colors--gradient-objects
);

// Typography

$font-family-sans-serif: Ubuntu, sans-serif !default;
$font-family-icon: 'uncodeicon' !default;

$font-size-base: 1rem !default;
$font-size-lg: $font-size-base * 1.25 !default;
$font-size-sm: $font-size-base * 0.875 !default;

$font-weight-lighter: lighter !default;
$font-weight-light: 300 !default;
$font-weight-normal: 400 !default;
$font-weight-medium: 500 !default;
$font-weight-bold: 700 !default;
$font-weight-bolder: bolder !default;

$font-weight-base: $font-weight-normal !default;
$line-height-base: 1.5 !default;

// Buttons

$button-colors: () !default;

$button-colors: map-merge(
  $brand-colors--single-objects,
  $button-colors
);

$button-font-size: $font-size-sm;
$button-font-weight: $font-weight-normal;
$button-padding-x: 2.5rem;
$button-padding-y: 1rem;
