// The button block.
@mixin button {
  cursor: pointer;
  display: inline-block;
  font-family: $font-family-sans-serif;
  font-weight: $button-font-weight;
  text-align: center;
  text-transform: uppercase;
  transition: background 0.2s;
  transition-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86), cubic-bezier(0.785, 0.135, 0.15, 0.86), cubic-bezier(0.785, 0.135, 0.15, 0.86);
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;

  &:hover {
    text-decoration: none;
  }

  &:focus {
    outline: 0;
    // box-shadow?
  }
}

// The default (rounded) variant modifiers.
@mixin button--default-variant(
  $primary,
  $secondary
) {
  background-color: $primary;
  border: 1px solid $primary;
  color: $secondary;

  &:hover {
    background-color: transparent;
    color: $primary;
  }
}

@mixin button--default-variant-interactive(
  $primary,
  $secondary
) {
  &:hover {
    background-color: transparent;
    color: $primary;
  }
}

// The outline variant modifiers.
@mixin button--outline-variant(
  $primary,
  $secondary
) {
  background-color: transparent;
  border: 1px solid $primary;
  color: $primary;
}

@mixin button--outline-variant-interactive(
  $primary,
  $secondary
) {
  &:hover {
    background-color: $primary;
    color: $secondary;
  }
}

// The size modifier.
@mixin button--size(
  $padding-y: $button-padding-y,
  $padding-x: $button-padding-x,
  $font-size: $button-font-size,
  $line-height: 1.25,
  $border-radius: (
    $button-padding-y * 2 + $button-font-size
  )
) {
  border-radius: $border-radius;
  font-size: $font-size;
  line-height: $line-height;
  padding: $padding-y $padding-x;
}

// The master mixin to create the button styles.
@mixin create-buttons($selector: '.button') {
  #{$selector} {
    @include button;
    @include button--size;
  }

  @each $color, $values in $button-colors {
    #{$selector}--rounded#{$selector}--#{$color} {
      @include button--default-variant(
        map-get($values, 'primary'),
        map-get($values, 'accent-neutral')
      );
      @include button--default-variant-interactive(
        map-get($values, 'primary'),
        map-get($values, 'accent-neutral')
      );
    }

    #{$selector}--outlined#{$selector}--#{$color} {
      @include button--outline-variant(
        map-get($values, 'primary'),
        map-get($values, 'accent-neutral')
      );
      @include button--outline-variant-interactive(
        map-get($values, 'primary'),
        map-get($values, 'accent-neutral')
      );
    }
  }
}
