// The list block.
@mixin list {
  font-weight: $font-weight-light;
  list-style: none;
  margin: 0;
  padding-left: 2rem;
}

// The list item block.
@mixin list-item {
  margin: 1rem 0 0;
  position: relative;

  &:first-of-type {
    margin-top: 0;
  }

  &::before {
    position: absolute;
  }
}

// The ordered variant modifiers.
@mixin list--ordered-variant {
  counter-reset: listCounter;
}

@mixin list-item--ordered-variant {
  counter-increment: listCounter;

  &::before {
    content: counter(listCounter) '.';
    font-family: $font-family-sans-serif;
    font-weight: $font-weight-medium;
    left: -1.75rem;
  }
}

// The unordered variant modifiers.
@mixin list--unordered-variant {
  // Nothing todo here.
}

@mixin list-item--unordered-variant {
  &::before {
    content: '\f111';
    font-family: $font-family-icon;
    font-size: 0.5em;
    left: -1.75rem;
    top: 0.75em;
  }
}

// The checklist variant modifiers.
@mixin list--checked-variant {
  // Nothing todo here.
}

@mixin list-item--checked-variant {
  &::before {
    content: '\f00c';
    font-family: $font-family-icon;
    left: -2rem;
  }
}

// The master mixin to create the list styles.
@mixin create-lists($selector: '.list') {
  #{$selector} {
    @include list;

    li {
      @include list-item;
    }
  }

  #{$selector}--ordered {
    @include list--ordered-variant;

    li {
      @include list-item--ordered-variant;
    }
  }

  #{$selector}--unordered {
    @include list--unordered-variant;

    li {
      @include list-item--unordered-variant;
    }
  }

  #{$selector}--checked {
    @include list--checked-variant;

    li {
      @include list-item--checked-variant;
    }
  }
}
